@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: MulishBold;
    src: url("../fonts/Mulish-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MulishRegular;
    src: url("../fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
    font-family: MulishSemiBold;
    src: url("../fonts/Mulish-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: LucidaGrandeBold;
    src: url("../fonts/Lucida-Grande-Bold.ttf") format("truetype");
}